extends ./layout.jade
block content

  div.jumbotron

    h2 Hello!

    if user

      p Welcome, #{user.fullName}

    else
      p Welcome to my app, ready to get started?

      p
        a.btn.btn-primary(href="/login") Login now

      p
        span.small Don't have an account?
        span &nbsp;
        a.small(href="/register") Register now