html
  head
    block title
      title Express-Stormpath Example Project
    block css
      link(href='https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/paper/bootstrap.min.css', rel='stylesheet')
  body
    include navbar
    div.container
      block content