block vars
  - var title

doctype html
html(lang='en')
  head
    block title
      title=title ? (siteName + ' - ' + title) : siteName
    block css
      link(href='https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/paper/bootstrap.min.css', rel='stylesheet')
    block js
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
      script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
  body
    include navbar
    div.container
      block content