nav.navbar.navbar-default
  div.container
    ul.nav.navbar-nav
      li
        a(href="/") Home
      if user
        li
          a(href="/profile") My Profile
    ul.nav.navbar-nav.navbar-right
      li
        if user
          a(href="/logout") Logout
        else
          a(href="/login") Login
